{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    {% include 'shared/headerRefrences.html' %}
    {% block addheaderRefrences %}{% endblock addheaderRefrences %}
    
  </head>
  <body>
    {% include 'shared/header.html' %}
    {% block content %}{% endblock content %}
    {% include 'shared/footer.html' %}


    {% include 'shared/footerRefrences.html' %}
    {% block addfooterRefrences %}{% endblock addfooterRefrences %}
  </body>
</html>